@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');



*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 0, 221)/*rgb(210, 105, 30)*/;
    transition: all 1s ease;
}

main{ 
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.container{ 
    background-color:#ff0099; 
    color: #fd9cff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 5px 5px 5px rgba(0,0,0,.3);
    transition: all 1s ease;

    

}

.content{
    padding: 30px;
    border: 3px dashed rgba(210,105,30,.5);
    text-align: center;
}

.content *{
    margin: 10px 0;
}

.content h1{ 
  font-size: 3rem;
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
}


